/* reset css */

* {
    min-width: 0;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100dvh;
  }
  
  h1,
  h2,
  h3 {
    text-wrap: balance;
  }
  
  p {
    text-wrap: pretty;
  }

  .header{
    display: flex;
    justify-content: center;
}

  .amor{
      background-color: #c800ff6c;
       right: 350px;
       color: rgb(245, 245, 245);
       font-size: 50px;
    }
.corazon {
            display: flex;
            align-items: center;
            color: #ffffff; /* Color blanco para mayor contraste */
            font-size: 3em;
            cursor: pointer;
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .corazon:hover {
            transform: scale(1.2);
            color: #000000; /* Cambio de color al pasar el ratón */
        }
  
  /* styles */
  /* TODO: Cambiar la fuente
  
  * {
    font-family: comic-sans;
  } */
  
  body {
    background-image: url("tat.jpg");
    background-attachment: fixed;
  }
  
  main {
    display: flex;
    flex-direction: column;
  
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 180vh;
  }
  
  .container-letter {
    position: relative;
  }
  
  .cover {
    position: absolute;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-top: 100px solid #000000;
    border-bottom: 100px solid transparent;
  
    /*  */
    transition: transform .75s;
    transform-origin: top;
    
  }
  
  .paper {
    position: absolute;
    padding: 1.5rem;
    line-height: 2rem;
    right: 5px;
    /*  */
    z-index: -1;
    background: white;
    width: 430px;
    height: 330px;
  
    transition: all .75s;
  }
  
  .letter {
    border-left: 220px solid #75007d;
    border-right: 220px solid #75007d;
    border-top: 100px solid transparent;
    border-bottom: 290px solid #a748c2;
    
    
  }
  
  .options {
    display: flex;
    gap: 5rem;
  
    & button {
      color: #75007d;
      font-weight: 600;
      border-radius: 3px;
      background: #a748c2;
      padding: 0.5rem 1rem;
      border: 1px solid #000000;
      cursor: pointer;
    }
  
    & button:hover {
      background: #905496;
      color: white;
    }
  }
  
  .open-cover {
    transform: rotatex(180deg);
  }
  
  .open-paper {
    animation: openPaper .5s forwards;
  }
  
  @keyframes openPaper {
    0% {
      top: 0;
    }
    100% {
      top: -270px;
    }
  }
  
  .close-paper {
    animation: closePaper .5s forwards;
  }
  
  @keyframes closePaper {
    0% {
      top: -130px;
    }
    100% {
      top: 0;
    }
  }
  
  
  .heart {
    display: none;
    position: absolute;
    top: 25%;
    left: 46.5%;
    margin: auto;
    font-size: 3rem;
  
    color: #fe3334;
  
    animation: crecer 1s forwards ;
  }

  

@keyframes latiendo {
  0%{transform: scale(1.4);}
  80%{transform: scale(2.)}
}
  
  @keyframes crecer {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 3;
      opacity: 0;
  
    }

    
  }
